.sec1 {
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 20px;
  transition-duration: 2s;
}

.box1 {
  background-color: red;
  
}
.box2 {
  background-color: rgb(63, 202, 8);
}
.box3 {
  background-color: rgb(11, 8, 194);
}
.box4 {
  background-color: rgb(206, 117, 2);
}
.box1:hover {
  transform: scale(1.2);
 
}
.box2:hover {
  transform: translate(50%, -80%);
 
}
.box3:hover {
  transform: rotateY(360deg);

}
.box4:hover {
  transform: skewX(10deg);
  
}
.box h1 {
  display: none;
}
.box:hover h1 {
  display: block;
}
.box:hover h3 {
  display: none;
}

/* SECTION2 */

.sec2 {
  height: 100vh;
  background-color: black;
  position: relative;

}
.flx{
  display: flex;
  justify-content: center;
 position: absolute;
 top: 50%;
 left: 45%;
 transform: translate(-50%,-50%);
}


.mars{
    animation: rotation 12s infinite linear;
}
.rotate{
    animation: rotation 10s infinite linear ;
}
.rotate2{
    animation: rotation 100s infinite linear ;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg); 
    }
    
}
.star{
  position: absolute;
 width: 300px;
 height: 200px;
  
  left: 75%;
  
}

.translatetion{
  animation: translate 5s  linear 1 forwards;
}

@keyframes translate {
  from{
    transform: translate(0px,0px);
  }
  to{
    transform: translate(-370%,370%);
  }
  
}
