* {
  margin: 0;
  padding: 0;
}

header nav ul li a{
text-decoration: none ;
border: 1px solid transparent;
padding: 8px 18px;
border-radius: 8px;
color: #000;
}

header nav ul li a:hover{
    background-color: brown;
}
header nav ul li {
    display: inline-block;
   margin: 20px;
  
}
header nav ul{
 display: flex;
 align-items: center;
 justify-content: space-around;
}
nav ul{
  background-color: bisque;
  height: 100px;

}
section {
  background-image: url(./img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}



.div0 {
  align-items: center;


  
}

.div1 {
  width: 50%;
 
}

.div2 {
  width: 50%;
}
