footer {
  height: 50vh;
  background-color: rgb(177, 246, 248);
  display: flex;
  justify-content: center;
  align-items: center;


    .texts{
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 200px;


      h1{
        font-size: 16px;
        font-weight: 700;
        margin: 20px;
       

        
      }

      a{
        color: black;
      }

      
        
      

   }

}
