#sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 233, 196);
    flex-direction: column ;
}
#sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: saddlebrown;
    flex-direction: column ;
}

