
    header{
        height: 100vh;
        background-image: url(../image/bacground.jpg);
        background-size: cover;
        background-repeat: no-repeat;
         nav{ 
        
            position: fixed;
            width: 100%;
            background-color: #f0f0f0;
            padding: 10px;
            z-index: 2;
             display: flex;
            justify-content: space-between;
            align-items: center;
            
            ul{
                img{
                    width: 150px;
                }
                width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            li{
                font-size: 20px;
                list-style-type:  none;
    
                a{
                   color: black;
                    text-decoration: none;
    
                    &:hover::after{
                        content: "";
                        display: block;
                        width: 100%;
                        border: 1px solid red;
                    }
    
                }
    
    
    
            }
    
    
         }
           
         }
    
    }

