.minion {

        .box {
            width: 200px;
            height: 200px;
            margin-top: 20px;
            color: white;
            border: 1px solid rgb(0, 0, 0);
            border-style: dashed;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
    
            &:nth-child(odd) {
                background-color: green;
            
            }
           
            &:nth-child(even) {
                background-color: violet;  
            }
           
      

        &:hover {
            background-image: url(../image/minyon2.jpg);
            background-position: center;
            background-size: cover;
 
            h3 {
                display: none;
            }
             animation-name: rotation;
        animation-duration: 4s;

            @keyframes rotation {
                0% {
                    transform: rotatex(0deg)
                }
            
            
                25% {
                    transform: rotatex(90deg)
                }
            
            }
            


        }

    }
 
    .title {
        display: flex;
        position: relative;
        justify-content: center;

        &::after {
            content: "";
            background-color: red;
            width: 10%;
            height: 2px;
            position: absolute;
            display: block;
            bottom: -5px;
        }
    }
}




