*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img2{
  display: none;
}

p {
  width: 600px;
  line-height: 25px;
  font-size: 20px;
  
}

.underline {
  border-bottom: 1px solid red;
  width: 100px;
}
@media only screen and (max-width: 766px) {
  .text{
    background-color: bisque;
    height: 50%;
    width: 100%;
  }
  .img1 {
    display: none;
  }

  section {
    flex-direction: column;
  }
   p {
    width: 100%;
  }
.img2{
  display: block;
}

}


